{{template "base" .}}

{{define "title"}}
    Forgot Password
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-md-6 offset-md-3">

    <div class="alert alert-danger text-center d-none" id="messages"></div>
    
        <form action="" method="post"
            name="forgot_form" id="forgot_form"
            class="d-block needs-validation"
            autocomplete="off" novalidate="">

            <h2 class="mt-2 text-center mb-3">Forgot Password</h2>
            <hr>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                    required="" autocomplete="email-new">
            </div>

            <hr>

            <a href="javascript:void(0)" class="btn btn-primary" onclick="val()">Send Password Reset Link</a>

        </form>

    </div>
</div>

{{end}}

{{define "js"}}
<script>
let messages = document.getElementById("messages");

function showError(msg) {
    messages.classList.add("alert-danger");
    messages.classList.remove("alert-success");
    messages.classList.remove("d-none");
    messages.innerText = msg;
}

function showSuccess() {
    messages.classList.remove("alert-danger");
    messages.classList.add("alert-success");
    messages.classList.remove("d-none");
    messages.innerText = "Password reset email sent";
}

function val() {
    let form = document.getElementById("forgot_form");
    if (form.checkValidity() === false) {
        this.event.preventDefault();
        this.event.stopPropagation();
        form.classList.add("was-validated");
        return;
    }
    form.classList.add("was-validated");

    let payload = {
        email: document.getElementById("email").value,
    }

    const requestOptions = {
        method: 'post',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload),
    }

    fetch("{{.API}}/api/forgot-password", requestOptions)
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.error === false) {
            showSuccess();
        } else {
            showError(data.message);
        }
    })
}

</script>
{{end}}