{{template "base" .}}

{{define "title"}}
    Reset Password
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-md-6 offset-md-3">

    <div class="alert alert-danger text-center d-none" id="messages"></div>
    
        <form action="" method="post"
            name="reset_form" id="reset_form"
            class="d-block needs-validation"
            autocomplete="off" novalidate="">

            <h2 class="mt-2 text-center mb-3">Reset Password</h2>
            <hr>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    required="" autocomplete="password-new">
            </div>

            <div class="mb-3">
                <label for="verify-password" class="form-label">Verify Password</label>
                <input type="password" class="form-control" id="verify-password" name="verify-password"
                    required="" autocomplete="verify-password-new">
            </div>

            <hr>

            <a href="javascript:void(0)" class="btn btn-primary" onclick="val()">Reset Password</a>

        </form>

    </div>
</div>

{{end}}

{{define "js"}}
<script>
let messages = document.getElementById("messages");

function showError(msg) {
    messages.classList.add("alert-danger");
    messages.classList.remove("alert-success");
    messages.classList.remove("d-none");
    messages.innerText = msg;
}

function showSuccess() {
    messages.classList.remove("alert-danger");
    messages.classList.add("alert-success");
    messages.classList.remove("d-none");
    messages.innerText = "Password reset!";
}

function val() {
    let form = document.getElementById("reset_form");
    if (form.checkValidity() === false) {
        this.event.preventDefault();
        this.event.stopPropagation();
        form.classList.add("was-validated");
        return;
    }
    form.classList.add("was-validated");

    if (document.getElementById("password").value !== document.getElementById("verify-password").value) {
        showError("Passwords do not match!")
        return
    }

    let payload = {
        password: document.getElementById("password").value,
        email: '{{index .Data "email"}}',
    }

    const requestOptions = {
        method: 'post',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload),
    }

    fetch("{{.API}}/api/reset-password", requestOptions)
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.error === false) {
            showSuccess();
            setTimeout(function() {
                location.href = "/login";
            }, 2000)
        } else {
            showError(data.message);
        }
    })
}

</script>
{{end}}